# -----------------------------
# Python cache
# -----------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# -----------------------------
# Virtual environments
# -----------------------------
venv/
env/
bimer_env/

# -----------------------------
# Datasets
# -----------------------------
data/
dataset/
IEMOCAP*
IEMOCAP_MINI/
*.zip

# -----------------------------
# Machine learning models
# -----------------------------
*.pt
*.pth
*.ckpt
*.h5
*.onnx

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db

# -----------------------------
# Old folders
# -----------------------------
old version/

# -----------------------------
# Documents
# -----------------------------
*.pdf
*.ppt
*.pptx
*.doc
*.docx